/* -------------------------------
   Déclaration des variables
------------------------------- */

/* Couleurs */
@jaune: #ffcc43;
@gris: #606060;
@grisclair: #bbb; /* Utilisé pour polices */
@gristresclair: #F1F1F1; /* Utilisé pour fond inputs et fond de sections grises */
@noir: #151515;
@blanc: #ffffff;
@hover: #303030;
@nav_slider: #fff;

@fondmenu: #151515;
@fondmenu_trans: rgba(0,0,0,0.7);

@fondfooter: #151515;
@fond_subfooter: #000;

/* Polices */

@police_1: "Six Caps", sans-serif;
@police_2: "Open Sans", sans-serif;