/* Filtre grills VC */

.content-area ul.vc_grid-filter {
	margin-bottom: 45px;
}

.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > .vc_grid-filter-item {
font-family: @police_2;
	font-size: 16px;
	text-transform: uppercase;
	line-height: 1.4em;
padding: 10px 35px;
letter-spacing: 1px;
}

.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > .vc_grid-filter-item:first-child {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px
}

.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > .vc_grid-filter-item:last-child {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > li.vc_active.vc_grid-filter-item {
	background-color: @jaune;
}

.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > li.vc_active.vc_grid-filter-item span {
	color: @blanc;
}

.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > .vc_grid-filter-item:hover {
	background-color: @jaune;
	
}

.content-area .vc_grid-filter.vc_grid-filter-color-grey>.vc_grid-filter-item:hover>span {
	color: @blanc;
}


/* Listes dans bloc de texte VC */

.content-area .wpb_text_column ul {
	list-style-type: none;
	list-style-position: inside;
}

.content-area .wpb_text_column ul li:before {
	width: 15px;
	line-height: inherit;
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	color: @jaune;
	text-align: center;
	content: '\25cf';
	font-size: 10px
}

.content-area .wpb_text_column ul li {
	position: relative;
	padding-left: 21px;
	margin-bottom: 6px;
	font-weight: 400;
}

.bouton-portfolio.vc_btn3-container {
	margin-bottom: 0;
}

.bouton-portfolio.vc_btn3-container .vc_btn3.vc_btn3-color-grey, .vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
	color: #fff;
background-color: transparent;
border: 1px solid @blanc;
}