/* -------------------------------
   Liaisons autres feuilles de style Less
------------------------------- */
/* -------------------------------
   Déclaration des variables
------------------------------- */
/* Couleurs */
/* Utilisé pour polices */
/* Utilisé pour fond inputs et fond de sections grises */
/* Polices */
/* -------------------------------
   Typographies
------------------------------- */
h1 {
  color: #151515;
  font-size: 60px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
}
h2 {
  font-size: 60px;
  line-height: 1.1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #151515;
  font-family: "Six Caps", sans-serif;
  font-weight: 400;
}
h3 {
  font-size: 19px;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: #151515;
}
h4,
h5,
h6 {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3em;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
p {
  color: #606060;
  font-size: 14px;
  line-height: 26px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}
a:link,
a:visited {
  color: #ffcc43;
}
a:hover {
  color: #151515;
}
/* -------------------------------
   Nav Bar - Fixe sticky - Menu1
------------------------------- */
.navbar-fixed-top {
  top: auto;
}
.affix {
  padding: 0px;
  -webkit-transition: padding 0.2s linear;
  -moz-transition: padding 0.2s linear;
  -o-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}
.affix-top {
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-transition: padding 0.2s linear;
  -moz-transition: padding 0.2s linear;
  -o-transition: padding 0.2s linear;
  transition: padding 0.2s linear;
}
.menu1.navbar-inverse {
  background: none;
  border: none;
}
.menu1.navbar-inverse.navbar-fixed-top.affix {
  background-color: rgba(0, 0, 0, 0.7);
}
/* Style des liens */
.navbar-inverse .navbar-nav > a:link,
.navbar-inverse .navbar-nav > a:visited {
  color: #ffffff;
}
.menu1.navbar-inverse .navbar-nav > .active > a {
  background: none;
  color: #ffcc43;
}
.menu1.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}
.menu1.navbar-inverse .navbar-nav > li > a:focus,
.menu1.navbar-inverse .navbar-nav > li > a:hover {
  color: #ffcc43;
}
nav.menu1 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}
.affix-top {
  padding-top: 15px;
}
.menu1 .navbar-nav {
  float: right;
}
.navbar.affix-top > .container-fluid .navbar-brand {
  margin-left: 15px;
}
.navbar.affix > .container-fluid .navbar-brand {
  margin-left: -15px;
}
.navbar.nav-pages {
  background: #151515;
}
/* Customisation menu à onglets*/
.table-onglets-ligne {
  background: #FFF none repeat scroll 0% 0%;
  margin-bottom: 30px;
}
.table-onglets-ligne .nav-tabs {
  border-bottom: 2px solid #ddd;
}
.table-onglets-ligne .nav-tabs > li.active > a,
.table-onglets-ligne .nav-tabs > li.active > a:focus,
.table-onglets-ligne .nav-tabs > li.active > a:hover {
  border-width: 0;
}
.table-onglets-ligne .nav-tabs > li > a {
  border: none;
  color: #666;
  text-transform: uppercase;
}
.table-onglets-ligne .nav-tabs > li.active > a,
.table-onglets-ligne .nav-tabs > li > a:hover {
  border: none;
  color: #ffcc43 !important;
  background: transparent;
}
.table-onglets-ligne .nav-tabs > li > a::after {
  content: "";
  background: #ffcc43;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0);
}
.table-onglets-ligne .nav-tabs > li.active > a::after,
.table-onglets-ligne .nav-tabs > li:hover > a::after {
  transform: scale(1);
}
.table-onglets-ligne .tab-nav > li > a::after {
  background: #ffcc43 none repeat scroll 0% 0%;
  color: #fff;
}
.table-onglets-ligne .tab-pane {
  padding: 15px 0;
}
.table-onglets-ligne .tab-content {
  padding: 20px;
}
/* -------------------------------
   Styles prédéfinis
------------------------------- */
/* Predefined Classes */
.content-area {
  padding-top: 40px;
  padding-bottom: 50px;
}
.content-area.grise {
  width: 100%;
  background-color: #f1f1f1;
}
.section-sp {
  padding-top: 40px;
  padding-bottom: 50px;
}
.section-standard {
  padding-top: 70px;
  padding-bottom: 70px;
}
.heading-title.center {
  text-align: center;
}
.heading-title.left {
  text-align: left;
}
.heading-title.center .separateur {
  width: 80px;
  height: 2px;
  background: #ffcc43;
  margin: 30px auto 30px auto;
}
.heading-title.left .separateur {
  width: 80px;
  height: 2px;
  background: #ffcc43;
  margin-top: 30px;
  margin-bottom: 30px;
}
.page-heading {
  height: 325px;
  background: #ccc;
  width: 100%;
  margin-top: 110px;
}
.page-heading.single {
  height: 450px;
}
.page-heading.page-404 {
  height: calc(100vh - 110px);
}
.page-heading {
  text-align: center;
  background-color: transparent;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
  color: #ffffff;
  overflow: hidden;
  background-repeat: no-repeat;
}
.page-heading .overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.page-heading .spritz-title-holder {
  display: table;
  height: 325px;
  position: relative;
  width: 100%;
}
.page-heading.single .spritz-title-holder {
  height: 450px;
}
.page-heading.page-404 .spritz-title-holder {
  height: calc(100vh - 110px);
}
.page-heading .spritz-container {
  background-color: transparent;
  display: table-row;
  vertical-align: middle;
  padding: 0;
  width: 100%;
  z-index: 100;
  position: relative;
}
.page-heading .spritz-container:after {
  content: " ";
  display: table;
}
.page-heading .spritz-container-inner {
  display: table-cell;
  padding: 0 !important;
  vertical-align: middle;
  width: 100%;
  margin: 0 auto;
}
.page-heading .spritz-title-subtitle-holder {
  display: block;
  padding: 0;
  position: relative;
  z-index: 25;
}
.page-heading h1 {
  font-size: 80px;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: #ffffff;
}
.page-heading p {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
}
.page-heading .category span {
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 3px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-transform: uppercase;
  display: inline-block;
}
.titre-section {
  text-align: left;
  width: 100%;
}
.titre-section .separateur {
  width: 100%;
  height: 1px;
  background: #ffcc43;
  margin-top: 10px;
  margin-bottom: 25px;
}
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
.row.row-space-0 {
  margin: 0;
}
.row.row-space-2 {
  margin: 0 -1px;
}
.row.row-space-4 {
  margin: 0 -2px;
}
.row.row-space-6 {
  margin: 0 -3px;
}
.row.row-space-8 {
  margin: 0 -4px;
}
.row.row-space-10 {
  margin: 0 -5px;
}
.row.row-space-12 {
  margin: 0 -6px;
}
.row.row-space-14 {
  margin: 0 -7px;
}
.row.row-space-16 {
  margin: 0 -8px;
}
.row.row-space-18 {
  margin: 0 -9px;
}
.row.row-space-18 {
  margin: 0 -10px;
}
.row.row-space-22 {
  margin: 0 -11px;
}
.row.row-space-24 {
  margin: 0 -12px;
}
.row.row-space-26 {
  margin: 0 -13px;
}
.row.row-space-28 {
  margin: 0 -14px;
}
.row.row-space-30 {
  margin: 0 -15px;
}
.row.row-space-0 > [class*="col-"] {
  padding: 0;
}
.row.row-space-2 > [class*="col-"] {
  padding: 0 1px;
}
.row.row-space-4 > [class*="col-"] {
  padding: 0 2px;
}
.row.row-space-6 > [class*="col-"] {
  padding: 0 3px;
}
.row.row-space-8 > [class*="col-"] {
  padding: 0 4px;
}
.row.row-space-10 > [class*="col-"] {
  padding: 0 5px;
}
.row.row-space-12 > [class*="col-"] {
  padding: 0 6px;
}
.row.row-space-14 > [class*="col-"] {
  padding: 0 7px;
}
.row.row-space-16 > [class*="col-"] {
  padding: 0 8px;
}
.row.row-space-18 > [class*="col-"] {
  padding: 0 9px;
}
.row.row-space-20 > [class*="col-"] {
  padding: 0 10px;
}
.row.row-space-22 > [class*="col-"] {
  padding: 0 11px;
}
.row.row-space-24 > [class*="col-"] {
  padding: 0 12px;
}
.row.row-space-26 > [class*="col-"] {
  padding: 0 13px;
}
.row.row-space-28 > [class*="col-"] {
  padding: 0 14px;
}
.row.row-space-30 > [class*="col-"] {
  padding: 0 15px;
}
.semi-bold {
  font-weight: 600;
}
.overflow-auto {
  overflow: auto !important;
}
.overflow-hidden {
  overflow: hidden !important;
}
.overflow-visible {
  overflow: visible !important;
}
.overflow-scroll {
  overflow: scroll !important;
}
.overflow-x-hidden {
  overflow-x: hidden !important;
}
.overflow-x-visible {
  overflow-x: visible !important;
}
.overflow-x-scroll {
  overflow-x: scroll !important;
}
.overflow-y-hidden {
  overflow-y: hidden !important;
}
.overflow-y-visible {
  overflow-y: visible !important;
}
.overflow-y-scroll {
  overflow-y: scroll !important;
}
.m-auto {
  margin: 0 auto !important;
}
.m-0 {
  margin: 0px !important;
}
.m-1 {
  margin: 1px !important;
}
.m-2 {
  margin: 2px !important;
}
.m-3 {
  margin: 3px !important;
}
.m-4 {
  margin: 4px !important;
}
.m-5 {
  margin: 5px !important;
}
.m-10 {
  margin: 10px !important;
}
.m-15 {
  margin: 15px !important;
}
.m-20 {
  margin: 20px !important;
}
.m-25 {
  margin: 25px !important;
}
.m-30 {
  margin: 30px !important;
}
.m-35 {
  margin: 35px !important;
}
.m-40 {
  margin: 40px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-t-1 {
  margin-top: 1px !important;
}
.m-t-2 {
  margin-top: 2px !important;
}
.m-t-3 {
  margin-top: 3px !important;
}
.m-t-4 {
  margin-top: 4px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-25 {
  margin-top: 25px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-35 {
  margin-top: 35px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-t-50 {
  margin-top: 50px !important;
}
.m-t-70 {
  margin-top: 70px !important;
}
.m-r-0 {
  margin-right: 0px !important;
}
.m-r-1 {
  margin-right: 1px !important;
}
.m-r-2 {
  margin-right: 2px !important;
}
.m-r-3 {
  margin-right: 3px !important;
}
.m-r-4 {
  margin-right: 4px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-r-20 {
  margin-right: 20px !important;
}
.m-r-25 {
  margin-right: 25px !important;
}
.m-r-30 {
  margin-right: 30px !important;
}
.m-r-35 {
  margin-right: 35px !important;
}
.m-r-40 {
  margin-right: 40px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-1 {
  margin-bottom: 1px !important;
}
.m-b-2 {
  margin-bottom: 2px !important;
}
.m-b-3 {
  margin-bottom: 3px !important;
}
.m-b-4 {
  margin-bottom: 4px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-25 {
  margin-bottom: 25px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.m-b-35 {
  margin-bottom: 35px !important;
}
.m-b-40 {
  margin-bottom: 40px !important;
}
.m-b-50 {
  margin-bottom: 50px !important;
}
.m-b-70 {
  margin-bottom: 70px !important;
}
.m-l-0 {
  margin-left: 0px !important;
}
.m-l-1 {
  margin-left: 1px !important;
}
.m-l-2 {
  margin-left: 2px !important;
}
.m-l-3 {
  margin-left: 3px !important;
}
.m-l-4 {
  margin-left: 4px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-l-20 {
  margin-left: 20px !important;
}
.m-l-25 {
  margin-left: 25px !important;
}
.m-l-30 {
  margin-left: 30px !important;
}
.m-l-35 {
  margin-left: 35px !important;
}
.m-l-40 {
  margin-left: 40px !important;
}
.p-0 {
  padding: 0px !important;
}
.p-1 {
  padding: 1px !important;
}
.p-2 {
  padding: 2px !important;
}
.p-3 {
  padding: 3px !important;
}
.p-4 {
  padding: 4px !important;
}
.p-5 {
  padding: 5px !important;
}
.p-10 {
  padding: 10px !important;
}
.p-15,
.wrapper {
  padding: 15px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-25 {
  padding: 25px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-35 {
  padding: 35px !important;
}
.p-40 {
  padding: 40px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-t-1 {
  padding-top: 1px !important;
}
.p-t-2 {
  padding-top: 2px !important;
}
.p-t-3 {
  padding-top: 3px !important;
}
.p-t-4 {
  padding-top: 4px !important;
}
.p-t-5 {
  padding-top: 5px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-t-15 {
  padding-top: 15px !important;
}
.p-t-20 {
  padding-top: 20px !important;
}
.p-t-25 {
  padding-top: 25px !important;
}
.p-t-30 {
  padding-top: 30px !important;
}
.p-t-35 {
  padding-top: 35px !important;
}
.p-t-40 {
  padding-top: 40px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-r-1 {
  padding-right: 1px !important;
}
.p-r-2 {
  padding-right: 2px !important;
}
.p-r-3 {
  padding-right: 3px !important;
}
.p-r-4 {
  padding-right: 4px !important;
}
.p-r-5 {
  padding-right: 5px !important;
}
.p-r-10 {
  padding-right: 10px !important;
}
.p-r-15 {
  padding-right: 15px !important;
}
.p-r-20 {
  padding-right: 20px !important;
}
.p-r-25 {
  padding-right: 25px !important;
}
.p-r-30 {
  padding-right: 30px !important;
}
.p-r-35 {
  padding-right: 35px !important;
}
.p-r-40 {
  padding-right: 40px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-b-1 {
  padding-bottom: 1px !important;
}
.p-b-2 {
  padding-bottom: 2px !important;
}
.p-b-3 {
  padding-bottom: 3px !important;
}
.p-b-4 {
  padding-bottom: 4px !important;
}
.p-b-5 {
  padding-bottom: 5px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-b-15 {
  padding-bottom: 15px !important;
}
.p-b-20 {
  padding-bottom: 20px !important;
}
.p-b-25 {
  padding-bottom: 25px !important;
}
.p-b-30 {
  padding-bottom: 30px !important;
}
.p-b-35 {
  padding-bottom: 35px !important;
}
.p-b-40 {
  padding-bottom: 40px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-l-1 {
  padding-left: 1px !important;
}
.p-l-2 {
  padding-left: 2px !important;
}
.p-l-3 {
  padding-left: 3px !important;
}
.p-l-4 {
  padding-left: 4px !important;
}
.p-l-5 {
  padding-left: 5px !important;
}
.p-l-10 {
  padding-left: 10px !important;
}
.p-l-15 {
  padding-left: 15px !important;
}
.p-l-20 {
  padding-left: 20px !important;
}
.p-l-25 {
  padding-left: 25px !important;
}
.p-l-30 {
  padding-left: 30px !important;
}
.p-l-35 {
  padding-left: 35px !important;
}
.p-l-40 {
  padding-left: 40px !important;
}
.f-s-8 {
  font-size: 8px !important;
}
.f-s-9 {
  font-size: 9px !important;
}
.f-s-10 {
  font-size: 10px !important;
}
.f-s-11 {
  font-size: 11px !important;
}
.f-s-12 {
  font-size: 12px !important;
}
.f-s-13 {
  font-size: 13px !important;
}
.f-s-14 {
  font-size: 14px !important;
}
.f-s-15 {
  font-size: 15px !important;
}
.f-s-16 {
  font-size: 16px !important;
}
.f-s-17 {
  font-size: 17px !important;
}
.f-s-18 {
  font-size: 18px !important;
}
.f-s-19 {
  font-size: 19px !important;
}
.f-s-20 {
  font-size: 20px !important;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}
.pull-none {
  float: none !important;
}
.f-w-100 {
  font-weight: 100 !important;
}
.f-w-200 {
  font-weight: 200 !important;
}
.f-w-300 {
  font-weight: 300 !important;
}
.f-w-400 {
  font-weight: 400 !important;
}
.f-w-500 {
  font-weight: 500 !important;
}
.f-w-600 {
  font-weight: 600 !important;
}
.f-w-700 {
  font-weight: 700 !important;
}
.table-valign-middle th,
.table-valign-middle td {
  vertical-align: middle !important;
}
.table-th-valign-middle th,
.table-td-valign-middle td {
  vertical-align: middle !important;
}
.table-valign-top th,
.table-valign-top td {
  vertical-align: top !important;
}
.table-th-valign-top th,
.table-td-valign-top td {
  vertical-align: top !important;
}
.table-valign-bottom th,
.table-valign-bottom td {
  vertical-align: bottom !important;
}
.table-th-valign-bottom th,
.table-td-valign-bottom td {
  vertical-align: bottom !important;
}
.vertical-box {
  display: table;
  table-layout: fixed;
  border-spacing: 0;
  height: 100%;
  width: 100%;
}
.vertical-box-column {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}
.vertical-box-row {
  display: table-row;
  height: 100%;
}
.vertical-box-row > .vertical-box-cell {
  position: relative;
  height: 100%;
  width: 100%;
  float: none;
}
.vertical-box-row > .vertical-box-cell > .vertical-box-inner-cell {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.panel-expand .vertical-box .vertical-box-column {
  display: table-cell;
}
.page-content-full-height .content {
  position: absolute;
  left: 0;
  top: 54px;
  right: 0;
  bottom: -1px;
  -webkit-transform: translateZ(0);
}
.no-rounded-corner {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
}
.rounded-corner {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}
.no-border {
  border: 0 !important;
}
.border-top-1 {
  border-top: 1px solid #eee !important;
}
.border-right-1 {
  border-right: 1px solid #eee !important;
}
.border-bottom-1 {
  border-bottom: 1px solid #eee !important;
}
.border-left-1 {
  border-left: 1px solid #eee !important;
}
.no-box-shadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.text-inverse {
  color: #2d353c !important;
}
a.text-inverse:hover,
a.text-inverse:focus {
  color: #575d63 !important;
}
.text-success {
  color: #00acac !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #33bdbd !important;
}
.text-info {
  color: #49b6d6 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #6dc5de !important;
}
.text-primary {
  color: #348fe2 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #5da5e8 !important;
}
.text-warning {
  color: #f59c1a !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #f7b048 !important;
}
.text-danger {
  color: #ff5b57 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #ff7c79 !important;
}
.text-white {
  color: #fff !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #f0f3f4 !important;
}
.bg-white {
  background: #ffffff !important;
}
.bg-silver-lighter {
  background: #f4f6f7 !important;
}
.bg-silver {
  background: #f0f3f4 !important;
}
.bg-silver-darker {
  background: #b4b6b7 !important;
}
.bg-black {
  background: #2d353c !important;
}
.bg-black-darker {
  background: #242a30 !important;
}
.bg-black-lighter {
  background: #575d63 !important;
}
.bg-grey {
  background: #b6c2c9 !important;
}
.bg-grey-darker {
  background: #929ba1 !important;
}
.bg-grey-lighter {
  background: #c5ced4 !important;
}
.bg-red {
  background: #ff5b57 !important;
}
.bg-red-darker {
  background: #cc4946 !important;
}
.bg-red-lighter {
  background: #ff7c79 !important;
}
.bg-orange {
  background: #f59c1a !important;
}
.bg-orange-darker {
  background: #c47d15 !important;
}
.bg-orange-lighter {
  background: #f7b048 !important;
}
.bg-yellow {
  background: #e3fa3e !important;
}
.bg-yellow-darker {
  background: #b6c832 !important;
}
.bg-yellow-lighter {
  background: #e9fb65 !important;
}
.bg-green {
  background: #00acac !important;
}
.bg-green-darker {
  background: #008a8a !important;
}
.bg-green-lighter {
  background: #33bdbd !important;
}
.bg-blue {
  background: #348fe2 !important;
}
.bg-blue-darker {
  background: #2a72b5 !important;
}
.bg-blue-lighter {
  background: #5da5e8 !important;
}
.bg-aqua {
  background: #49b6d6 !important;
}
.bg-aqua-darker {
  background: #3a92ab !important;
}
.bg-aqua-lighter {
  background: #6dc5de !important;
}
.bg-purple {
  background: #727cb6 !important;
}
.bg-purple-darker {
  background: #5b6392 !important;
}
.bg-purple-lighter {
  background: #8e96c5 !important;
}
.no-bg {
  background: none !important;
}
.height-xs {
  height: 150px !important;
}
.height-sm {
  height: 300px !important;
}
.height-md {
  height: 450px !important;
}
.height-lg {
  height: 600px !important;
}
.height-full {
  height: 100% !important;
}
.height-50 {
  height: 50px !important;
}
.height-100 {
  height: 100px !important;
}
.height-150 {
  height: 150px !important;
}
.height-200 {
  height: 200px !important;
}
.height-250 {
  height: 250px !important;
}
.height-300 {
  height: 300px !important;
}
.height-350 {
  height: 350px !important;
}
.height-400 {
  height: 400px !important;
}
.height-450 {
  height: 450px !important;
}
.height-500 {
  height: 500px !important;
}
.height-550 {
  height: 550px !important;
}
.height-600 {
  height: 600px !important;
}
.width-xs {
  width: 150px !important;
}
.width-sm {
  width: 300px !important;
}
.width-md {
  width: 450px !important;
}
.width-lg {
  width: 600px !important;
}
.width-full {
  width: 100% !important;
}
.width-50 {
  width: 50px !important;
}
.width-100 {
  width: 100px !important;
}
.width-150 {
  width: 150px !important;
}
.width-200 {
  width: 200px !important;
}
.width-250 {
  width: 250px !important;
}
.width-300 {
  width: 300px !important;
}
.width-350 {
  width: 350px !important;
}
.width-400 {
  width: 400px !important;
}
.width-450 {
  width: 450px !important;
}
.width-500 {
  width: 500px !important;
}
.width-550 {
  width: 550px !important;
}
.width-600 {
  width: 600px !important;
}
.animated {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .3s linear;
  transition: opacity .3s linear;
}
.text-ellipsis {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.underline {
  border-bottom: 1px solid #e2e7eb !important;
}
/* Classes réservées aux mobiles */
@media screen and (max-width: 768px) {
  .m-m-t-15 {
    margin-top: 15px !important;
  }
  .m-m-b-35 {
    margin-bottom: 35px !important;
  }
  .m-m-b-50 {
    margin-bottom: 50px !important;
  }
  .m-m-b-0 {
    margin-bottom: 0px !important;
  }
}
.alignleft {
  float: left;
  margin: 0.375em 1.75em 1.75em 0;
}
.alignright {
  float: right;
  margin: 0.375em 0 1.75em 1.75em;
}
.aligncenter {
  clear: both;
  display: block;
  margin: 0 auto 1.75em;
}
blockquote.alignleft {
  margin: 0.3157894737em 1.4736842105em 1.473684211em 0;
}
blockquote.alignright {
  margin: 0.3157894737em 0 1.473684211em 1.4736842105em;
}
blockquote.aligncenter {
  margin-bottom: 1.473684211em;
}
.img-center {
  margin: 0 auto 0 auto;
}
/* -------------------------------
   Boutons
------------------------------- */
.btn-jaune {
  background: #ffcc43;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
a.btn-jaune {
  color: #ffffff;
}
.btn-rect-court.btn-jaune:hover {
  color: #ffffff;
  text-decoration: none;
}
.btn-rect-court.btn-jaune:hover {
  background-color: #303030 !important;
}
.btn-center {
  margin: 0 auto 0 auto;
}
.btn-rect-court {
  max-width: 100%;
  white-space: nowrap;
  font-size: 16px;
  display: inline-block;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  position: relative;
  outline: 0;
  line-height: 1.4em;
  padding: 16px 69px;
  letter-spacing: 1px;
  -webkit-transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transform: translateZ(0);
}
/* -------------------------------
   Scroll to top fonction
------------------------------- */
.cd-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  z-index: 100;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #ffcc43 url('http://docsdunord.fr/wp-content/themes/spritz_2017/css/less/../../images/cd-top-arrow.png') no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity .3s 0s, visibility 0s .3s;
  -moz-transition: opacity .3s 0s, visibility 0s .3s;
  transition: opacity .3s 0s, visibility 0s .3s;
}
.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.cd-top:hover {
  background-color: #303030;
}
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 1;
}
.no-touch .cd-top:hover {
  background-color: #303030;
  opacity: 1;
}
@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 40px;
    width: 40px;
    right: 30px;
    bottom: 30px;
  }
}
.content-area a.spritz-social-icon-widget-holder {
  color: #ffcc43;
  font-size: 18px;
  margin: 0 15px 0 0;
  cursor: pointer;
}
.content-area a.spritz-social-icon-widget-holder:hover {
  color: #151515;
}
/* -------------------------------
   Footer
------------------------------- */
/* -------------------------------
   Footer
------------------------------- */
footer {
  display: block;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
footer a {
  text-decoration: none;
}
footer h2,
footer h3,
footer h4 {
  color: #ffffff;
}
footer .spritz-footer-bottom-border-holder {
  position: relative;
  display: block;
  width: 100%;
}
footer .spritz-footer-bottom-holder .widget_text a:hover {
  color: #ffcc43;
  text-decoration: none;
}
footer .spritz-footer-top-holder {
  display: block;
  background-color: #151515;
  background-position: center center;
  background-size: cover;
}
footer .spritz-footer-top:not(.spritz-footer-top-full) .spritz-container-inner {
  padding: 106px 0 90px;
}
footer .spritz-footer-top.spritz-footer-top-aligment-left {
  text-align: left;
}
footer .spritz-footer-bottom-holder,
footer .spritz-footer-bottom-holder .spritz-column-inner {
  text-align: center;
  vertical-align: middle;
}
footer .spritz-footer-bottom-holder {
  width: 100%;
  background-color: #000000;
  padding: 16px 0;
}
footer .widget {
  color: #bbbbbb;
  margin-bottom: 25px;
}
footer .widget:last-child {
  margin-bottom: 0;
}
footer .widget .spritz-footer-widget-title {
  color: #ffffff;
  margin-bottom: 26px;
}
footer .widget .textwidget {
  line-height: 1.8em;
}
footer .widget a {
  color: inherit;
}
footer .widget a:hover {
  color: #ffcc43;
}
footer .widget ul {
  list-style: none;
}
footer .widget ul li {
  line-height: 19px;
  margin-bottom: 10px;
}
footer .widget ul li a {
  color: #bbbbbb;
}
footer .widget ul li:hover > a {
  color: #ffcc43;
  text-decoration: none;
}
footer .widget.widget_archive li:first-child,
footer .widget.widget_categories li:first-child,
footer .widget.widget_meta li:first-child,
footer .widget.widget_nav_menu li:first-child,
footer .widget.widget_pages li:first-child,
footer .widget.widget_recent_comments li:first-child,
footer .widget.widget_rss li:first-child {
  padding-top: 4px;
}
footer .widget.widget_nav_menu ul li a {
  display: inline-block;
  position: relative;
}
footer .widget.widget_recent_entries ul li {
  color: #ffcc43;
}
footer .widget.widget_recent_entries ul li a {
  color: #bbbbbb;
}
a.spritz-social-icon-widget-holder {
  color: #ffffff;
  font-size: 18px;
  margin: 0 25px 0 0;
}
a.spritz-social-icon-widget-holder:hover {
  color: #ffcc43;
}
.spritz-mobile-header .spritz-mobile-menu-opener .spritz-mobile-opener-icon-holder {
  display: table-cell;
  vertical-align: middle;
}
.spritz-sticky-up-mobile-header .spritz-animate-mobile-header .spritz-mobile-header-inner {
  width: 100%;
  -webkit-transition: -webkit-transform 0.4s ease-out, left 0.2s ease, right 0.2s ease;
  -moz-transition: -moz-transform 0.4s ease-out, left 0.2s ease, right 0.2s ease;
  -o-transition: -o-transform 0.4s ease-out, left 0.2s ease, right 0.2s ease;
  transition: transform 0.4s ease-out, left 0.2s ease, right 0.2s ease;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  transform: translateY(-100%);
}
.spritz-sticky-up-mobile-header .mobile-header-appear .spritz-mobile-header-inner {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  transform: translateY(0);
}
.spritz-social-icon-widget-holder {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0;
}
.spritz-social-icon-widget-holder .spritz-social-icon-widget {
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}
.form-newsletter {
  margin-top: 25px;
}
.mailpoet_paragraph input {
  padding: 13px 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  background-color: #f1f1f1;
  height: 45px;
  font-size: 14px;
}
.mailpoet_text {
  display: inline-block;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 14px 23px;
  border: 0px solid #f1f1f1;
  outline: 0;
  font-size: 16px;
  background-color: transparent;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 0;
  -webkit-appearance: none;
}
#mailpoet_form_1 .mailpoet_text {
  width: 100% !important;
}
#mailpoet_form_2 .mailpoet_text {
  width: 100% !important;
}
input.mailpoet_submit {
  background-color: #ffcc43;
  border-color: #ffcc43;
  color: #ffffff;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-width: 0px;
  border-radius: 0px;
  padding-left: 34px;
  padding-right: 34px;
  display: inline-block;
  width: 100%;
}
input.mailpoet_submit:hover {
  background-color: #303030 !important;
  color: #ffffff;
}
/* Filtre grills VC */
.content-area ul.vc_grid-filter {
  margin-bottom: 45px;
}
.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > .vc_grid-filter-item {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.4em;
  padding: 10px 35px;
  letter-spacing: 1px;
}
.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > .vc_grid-filter-item:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > .vc_grid-filter-item:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > li.vc_active.vc_grid-filter-item {
  background-color: #ffcc43;
}
.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > li.vc_active.vc_grid-filter-item span {
  color: #ffffff;
}
.content-area .vc_grid-filter.vc_grid-filter-bordered-rounded-less > .vc_grid-filter-item:hover {
  background-color: #ffcc43;
}
.content-area .vc_grid-filter.vc_grid-filter-color-grey > .vc_grid-filter-item:hover > span {
  color: #ffffff;
}
/* Listes dans bloc de texte VC */
.content-area .wpb_text_column ul {
  list-style-type: none;
  list-style-position: inside;
}
.content-area .wpb_text_column ul li:before {
  width: 15px;
  line-height: inherit;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  color: #ffcc43;
  text-align: center;
  content: '\25cf';
  font-size: 10px;
}
.content-area .wpb_text_column ul li {
  position: relative;
  padding-left: 21px;
  margin-bottom: 6px;
  font-weight: 400;
}
.bouton-portfolio.vc_btn3-container {
  margin-bottom: 0;
}
.bouton-portfolio.vc_btn3-container .vc_btn3.vc_btn3-color-grey,
.vc_btn3.vc_btn3-color-grey.vc_btn3-style-flat {
  color: #fff;
  background-color: transparent;
  border: 1px solid #ffffff;
}
.vc_gitem-zone-mini .realisateur {
  color: #fff;
}
/* Bouton VC de base */
.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey {
  max-width: 100%;
  white-space: nowrap;
  font-size: 16px;
  display: inline-block;
  border-radius: 0;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  position: relative;
  outline: 0;
  line-height: 1.4em;
  padding: 16px 69px;
  letter-spacing: 1px;
  -webkit-transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
  -moz-transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: all 0.35s cubic-bezier(0.22, 0.61, 0.36, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transform: translateZ(0);
  background: #151515;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
}
.vc_btn3.vc_btn3-size-md.vc_btn3-shape-rounded.vc_btn3-style-modern.vc_btn3-color-grey:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #bbbbbb !important;
}
.wpb_content_element.fond-gris {
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.vc_row-fluid.last-section {
  margin-bottom: -50px;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_text_styles_1 function */
.wpcf7-form input.wpcf7-form-control::-webkit-input-placeholder,
.wpcf7-form textarea.wpcf7-form-control::-webkit-input-placeholder {
  color: #606060;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_text_styles_1 function */
.wpcf7-form input.wpcf7-form-control:-moz-placeholder,
.wpcf7-form textarea.wpcf7-form-control:-moz-placeholder {
  color: #606060;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_text_styles_1 function */
.wpcf7-form input.wpcf7-form-control::-moz-placeholder,
.wpcf7-form textarea.wpcf7-form-control::-moz-placeholder {
  color: #606060;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_text_styles_1 function */
.wpcf7-form input.wpcf7-form-control:-ms-input-placeholder,
.wpcf7-form textarea.wpcf7-form-control:-ms-input-placeholder {
  color: #606060;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_text_styles_1 function */
textarea.wpcf7-form-control.wpcf7-textarea {
  height: 246px;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_text_styles_1 function */
input.wpcf7-form-control.wpcf7-text,
input.wpcf7-form-control.wpcf7-number,
input.wpcf7-form-control.wpcf7-date,
textarea.wpcf7-form-control.wpcf7-textarea,
select.wpcf7-form-control.wpcf7-select,
input.wpcf7-form-control.wpcf7-quiz {
  color: #606060;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  text-transform: none;
  letter-spacing: 0px;
  background-color: #ffffff;
  border-color: #d3d3d3;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 13px;
  padding-right: 10px;
  padding-bottom: 13px;
  padding-left: 23px;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_focus_styles_1 function */
input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: #606060;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_focus_styles_1 function */
input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: #606060;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_focus_styles_1 function */
input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: #606060;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_focus_styles_1 function */
input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: #606060;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_focus_styles_1 function */
input.wpcf7-form-control.wpcf7-text:focus,
input.wpcf7-form-control.wpcf7-number:focus,
input.wpcf7-form-control.wpcf7-date:focus,
textarea.wpcf7-form-control.wpcf7-textarea:focus,
select.wpcf7-form-control.wpcf7-select:focus,
input.wpcf7-form-control.wpcf7-quiz:focus {
  color: #606060;
  background-color: #f1f1f1;
  border-color: #d3d3d3;
}
/* generated in /www/sites/silverscreen.edge-themes.com/files/html/wp-content/themes/silverscreen/framework/modules/contactform7/custom-styles/contact-form.php silverscreen_edge_contact_form7_button_styles_1 function */
input.wpcf7-form-control.wpcf7-submit {
  font-size: 12px;
  height: 46px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 52px;
  padding-right: 52px;
}
#respond input[type=text],
#respond textarea,
.post-password-form input[type=password],
.wpcf7-form-control.wpcf7-date,
.wpcf7-form-control.wpcf7-number,
.wpcf7-form-control.wpcf7-quiz,
.wpcf7-form-control.wpcf7-select,
.wpcf7-form-control.wpcf7-text,
.wpcf7-form-control.wpcf7-textarea {
  width: 100%;
  margin-top: 0;
  margin-bottom: 10px;
  padding: 14px 23px;
  border: 1px solid #f1f1f1;
  outline: 0;
  font-size: 16px;
  background-color: transparent;
  color: #606060;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 0;
  -webkit-appearance: none;
}
#respond input[type=text]:-moz-placeholder,
#respond textarea:-moz-placeholder,
.post-password-form input[type=password]:-moz-placeholder,
.wpcf7-form-control.wpcf7-date:-moz-placeholder,
.wpcf7-form-control.wpcf7-number:-moz-placeholder,
.wpcf7-form-control.wpcf7-quiz:-moz-placeholder,
.wpcf7-form-control.wpcf7-select:-moz-placeholder,
.wpcf7-form-control.wpcf7-text:-moz-placeholder,
.wpcf7-form-control.wpcf7-textarea:-moz-placeholder {
  color: #606060;
}
#respond input[type=text]::-moz-placeholder,
#respond textarea::-moz-placeholder,
.post-password-form input[type=password]::-moz-placeholder,
.wpcf7-form-control.wpcf7-date::-moz-placeholder,
.wpcf7-form-control.wpcf7-number::-moz-placeholder,
.wpcf7-form-control.wpcf7-quiz::-moz-placeholder,
.wpcf7-form-control.wpcf7-select::-moz-placeholder,
.wpcf7-form-control.wpcf7-text::-moz-placeholder,
.wpcf7-form-control.wpcf7-textarea::-moz-placeholder {
  color: #606060;
  opacity: 1;
}
#respond input[type=text]:-ms-input-placeholder,
#respond textarea:-ms-input-placeholder,
.post-password-form input[type=password]:-ms-input-placeholder,
.wpcf7-form-control.wpcf7-date:-ms-input-placeholder,
.wpcf7-form-control.wpcf7-number:-ms-input-placeholder,
.wpcf7-form-control.wpcf7-quiz:-ms-input-placeholder,
.wpcf7-form-control.wpcf7-select:-ms-input-placeholder,
.wpcf7-form-control.wpcf7-text:-ms-input-placeholder,
.wpcf7-form-control.wpcf7-textarea:-ms-input-placeholder {
  color: #606060;
}
#respond input[type=text]::-webkit-input-placeholder,
#respond textarea::-webkit-input-placeholder,
.post-password-form input[type=password]::-webkit-input-placeholder,
.wpcf7-form-control.wpcf7-date::-webkit-input-placeholder,
.wpcf7-form-control.wpcf7-number::-webkit-input-placeholder,
.wpcf7-form-control.wpcf7-quiz::-webkit-input-placeholder,
.wpcf7-form-control.wpcf7-select::-webkit-input-placeholder,
.wpcf7-form-control.wpcf7-text::-webkit-input-placeholder,
.wpcf7-form-control.wpcf7-textarea::-webkit-input-placeholder {
  color: #606060;
}
#respond input[type=text]:focus,
#respond textarea:focus,
.post-password-form input[type=password]:focus,
.wpcf7-form-control.wpcf7-date:focus,
.wpcf7-form-control.wpcf7-number:focus,
.wpcf7-form-control.wpcf7-quiz:focus,
.wpcf7-form-control.wpcf7-select:focus,
.wpcf7-form-control.wpcf7-text:focus,
.wpcf7-form-control.wpcf7-textarea:focus {
  background-color: #fafafa;
}
#submit_comment,
.post-password-form input[type=submit] {
  display: inline-block;
  width: auto;
  height: 60px;
  line-height: 60px;
  font-size: 18px;
  font-style: normal;
  font-family: inherit;
  font-weight: 700;
  padding: 0 45px;
  color: #ffffff;
  outline: 0;
  border: none;
  background-color: #ffcc43;
  cursor: pointer;
  margin: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
#submit_comment:hover,
.post-password-form input[type=submit]:hover {
  color: #ffcc43;
  background-color: #303030;
}
input.wpcf7-form-control.wpcf7-submit {
  display: inline-block;
  width: auto;
  height: 45px;
  line-height: 45px;
  padding: 0 50px;
  border: 1px solid #ffcc43;
  border-radius: 0;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0;
  font-family: inherit;
  color: #ffffff;
  background-color: #ffcc43;
  cursor: pointer;
  margin: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
input.wpcf7-form-control.wpcf7-submit:hover {
  color: #ffffff;
  background-color: #303030;
  border: 1px solid #303030;
}
#first-slider .main-container {
  padding: 0;
}
#first-slider .slide1 h3,
#first-slider .slide2 h3,
#first-slider .slide3 h3,
#first-slider .slide4 h3 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
#first-slider .slide1 h4,
#first-slider .slide2 h4,
#first-slider .slide3 h4,
#first-slider .slide4 h4 {
  color: #fff;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
}
#first-slider .slide1 .text-left,
#first-slider .slide3 .text-left {
  padding-left: 40px;
}
#first-slider .carousel-indicators {
  bottom: 0;
}
#first-slider .carousel-control.right,
#first-slider .carousel-control.left {
  background-image: none;
}
#first-slider .carousel .item {
  min-height: 550px;
  height: auto;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.carousel-inner .item .container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#first-slider h3 {
  animation-delay: 1s;
}
#first-slider h4 {
  animation-delay: 2s;
}
#first-slider h2 {
  animation-delay: 3s;
}
#first-slider .carousel-control {
  width: 6%;
  text-shadow: none;
}
#first-slider h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: bold;
}
#first-slider .p {
  padding-top: 125px;
  text-align: center;
}
#first-slider .p a {
  text-decoration: underline;
}
#first-slider .carousel-indicators li {
  width: 14px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
}
#first-slider .carousel-indicators .active {
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: none;
}
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}
.carousel-control .fa-angle-right,
.carousel-control .fa-angle-left {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .fa-angle-left {
  left: 50%;
  width: 38px;
  height: 38px;
  margin-top: -15px;
  font-size: 30px;
  color: #fff;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 53px;
}
.carousel-control .fa-angle-right {
  right: 50%;
  width: 38px;
  height: 38px;
  margin-top: -15px;
  font-size: 30px;
  color: #fff;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 53px;
}
.carousel-control {
  opacity: 1;
  filter: alpha(opacity=100);
}
@media screen and (max-width: 768px) {
  .menu1.navbar-inverse.navbar-fixed-top.affix {
    background-color: #151515;
  }
  .menu1.navbar-inverse .navbar-toggle {
    margin-top: 20px;
  }
  .menu1.navbar-fixed-top .navbar-collapse {
    margin-top: 15px;
    max-height: 100%;
    background-color: #151515;
  }
  .menu1 .navbar-nav {
    float: none;
    margin: 0;
  }
  ul.nav.navbar-nav .search-div {
    width: 100%;
    display: flex;
    margin-left: 0 !important;
    float: none !important;
    justify-content: center;
  }
  ul.nav.navbar-nav .search-div a.picto-first {
    margin-left: 0;
  }
  footer .spritz-footer-top:not(.spritz-footer-top-full) .spritz-container-inner {
    padding: 50px 0 40px;
  }
  footer .spritz-column-inner {
    margin-bottom: 45px;
  }
}
/* -------------------------------
   Styles génériques
------------------------------- */
* {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,
html {
  height: 100%;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: 60%;
  font-weight: 300;
}
a {
  transition: color 100ms ease-in-out;
  -o-transition: color 100ms ease-in-out;
  -ms-transition: color 100ms ease-in-out;
  -moz-transition: color 100ms ease-in-out;
  -webkit-transition: color 100ms ease-in-out;
}
a:focus {
  outline: none;
}
a:active,
a:hover {
  outline: 0;
}
.ie8 body {
  font-family: Arial,sans-serif;
}
b,
strong {
  font-weight: bold;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
.form-control:focus {
  border-color: #ffcc43;
}
